.libraryContainer {
  padding: 32px;
}

.mainTitle {
  font-size: 2rem;
  margin-bottom: 24px;
  font-weight: 800;
  color: white;
}

.trackGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 32px;
}

.emptyState {
  color: #b3b3b3;
  margin-top: 40px;
}
